<web-app>
 <servlet>
      <servlet-name>ex5</servlet-name>
      <servlet-class>prg1</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>ex5</servlet-name>
        <url-pattern>/program</url-pattern>
    </servlet-mapping>
 <servlet>
<servlet-name>formservlet</servlet-name>
<servlet-class>WarrantyRegistrationServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>formservlet</servlet-name>
<url-pattern>/form</url-pattern>
</servlet-mapping>
  <servlet-name>VisitCounterServlet</servlet-name>
        <servlet-class>VisitCounterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VisitCounterServlet</servlet-name>
        <url-pattern>/VisitCounterServlet</url-pattern>
    </servlet-mapping>
 <servlet>
        <servlet-name>OrderFormServlet</servlet-name>
        <servlet-class>OrderFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderFormServlet</servlet-name>
        <url-pattern>/OrderFormServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet for Cookies Confirmation -->
    <servlet>
        <servlet-name>CookiesConfirmationServlet</servlet-name>
        <servlet-class>CookiesConfirmationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CookiesConfirmationServlet</servlet-name>
        <url-pattern>/cookiesConfirmation</url-pattern>
    </servlet-mapping>

    <!-- Servlet for Hidden Fields Confirmation -->
    <servlet>
        <servlet-name>HiddenFieldsConfirmationServlet</servlet-name>
        <servlet-class>HiddenFieldsConfirmationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HiddenFieldsConfirmationServlet</servlet-name>
        <url-pattern>/hiddenFieldsConfirmation</url-pattern>
    </servlet-mapping>

    <!-- Servlet for HttpSession Confirmation -->
    <servlet>
        <servlet-name>HttpSessionConfirmationServlet</servlet-name>
        <servlet-class>HttpSessionConfirmationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpSessionConfirmationServlet</servlet-name>
        <url-pattern>/sessionConfirmation</url-pattern>
    </servlet-mapping>

    <!-- Servlet for URL Rewriting Confirmation -->
    <servlet>
        <servlet-name>URLRewritingConfirmationServlet</servlet-name>
        <servlet-class>URLRewritingConfirmationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>URLRewritingConfirmationServlet</servlet-name>
        <url-pattern>/urlRewritingConfirmation</url-pattern>
    </servlet-mapping>
</web-app>
