<web-app>
 <servlet>
      <servlet-name>ex5</servlet-name>
      <servlet-class>prg1</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>ex5</servlet-name>
        <url-pattern>/program</url-pattern>
    </servlet-mapping>
 <servlet>
<servlet-name>formservlet</servlet-name>
<servlet-class>WarrantyRegistrationServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>formservlet</servlet-name>
<url-pattern>/form</url-pattern>
</servlet-mapping>
</web-app>
